<form action="/contacto" method="post">
  <div class="row">
  <div class="col-6">
<div class="input-group mb-3">
  <img src="imagenes/iconos/nombre.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" id="nombreContacto" name="nombre">
</div></div>
<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/apellido.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="apellido" id="apellidocontacto" name="apellido">
</div>
  </div>
  </div>

  <div class="row">
  <div class="col-6">
<div class="input-group mb-3">
  <img src="imagenes/iconos/email.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Email" aria-label="email" id="emailcontacto" name="email">
</div></div>
<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/whatsapp.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Numero whatsapp" aria-label="whatsapp" id="whatsappContacto" name="whatsapp">
</div>
  </div>
  </div>

  <div class="row">
  <div class="col-12">
<div class="input-group mb-3">
  <img src="imagenes/iconos/text.png"  width="45" height="45">
  <textarea class="form-control" aria-label="With textarea"style="height: 200px" name="mensaje">Puedes Ingresar tu consulta aqui</textarea>
</div>
</div>
</div>

<div class="row">
  <div class="col-6 d-flex justify-content-center">
        <button class="btn btn-success"  id="btnEnviar" type="submit">Enviar Consulta</button>
  </div>
         <div class="col-6 d-flex justify-content-center">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
      </div>
</div>

</form>