
<form>
  <div class="mb-3">
  <div class="input-group mb-3">
<img src="imagenes/iconos/email.png"  width="45" height="45">
<input type="email" class="form-control" placeholder="e-mail" aria-label="Nombre" id="exampleInputEmail1">
    </div>
  </div>

  <div class="mb-3">
  <div class="input-group mb-3">
    <img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control" placeholder="Contraseña" aria-label="Nombre">
  </div>
  </div>
 
  <div class="d-flex justify-content-between">
  <button type="button" class="btn btn-primary btn-lg">Ingresar</button>
  <button type="button" class="btn btn-warning btn-lg" data-bs-dismiss="modal">Cancelar</button>
</div>
</form>


