<nav class=" h2 navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="imagenes/iconos/coding.png"  width="45" height="45"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {{#if usuario}}
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ApiMarvel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ejercicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">JavaScrip</a></li>
            <li><a class="dropdown-item" href="#">Interesantes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Algo más aquí</a></li>
          </ul>{{/if}}
           
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contactenos</a>
        </li>
      </ul>
    </div>
    </div>
        

      
        {{#unless usuario}}
        <div class="d-flex justify-content-around col-5">
        <a  class="btn btn-primary col-4" href="registracion"> Registrarse </a>

        <a class="btn btn-success col-4" href="login">Ingresar</a>
        </div>
        {{/unless}}
       
        {{#if usuario}}
        <div class="d-flex justify-content-around col-5">
          <a class="btn btn-danger col-4" href="/logout">Salir</a>
          <a class="btn btn-warning col-4" href="/modificacion">Modificar datos de cuenta</a>
        </div>
        {{/if}}
      
</nav>



