<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="false">
  <div class="carousel-inner">
    
    <div class="carousel-item active data-bs-interval="1000"">
      <img src="imagenes/19362653-768x432.jpg" class="w-100d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption">
       <h5 class="titulo">Bienvenido {{usuario}}</h5>
        <p class="fw-bold text-dark">Aqui trataremos de crear una comunidad para los que comenzamos en el maravilloso mundo de la programacion</p>
        <p class="fw-bold text-dark">Una vez registrado con tu usuario podras ver, ayudar y comentar soluciones a problemas de programacion que van desde muy simples a mas complejos</p>
        <p class="fw-bold text-dark">El unico requisito es que el comentario o explicacion sea lo mas simple, claro, desestructurado, evitando terminologia tecnica, ya que muchos vamos a ser novatos en el tema</p>
     
      </div>
      
      
    </div>
    <div class="carousel-item data-bs-interval="1000" ">
      <img src="imagenes/999c58e98401e287626190d3aff58c48d3411610.jpg" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption">
       <h5 class="titulo">Bienvenido {{usuario}}</h5>
        <p class="fw-bold text-dark">Aqui trataremos de crear una comunidad para los que comenzamos en el maravilloso mundo de la programacion</p>
        <p class="fw-bold text-dark">Una vez registrado con tu usuario podras ver, ayudar y comentar soluciones a problemas de programacion que van desde muy simples a mas complejos</p>
        <p class="fw-bold text-dark">El unico requisito es que el comentario o explicacion sea lo mas simple, claro, desestructurado, evitando terminologia tecnica, ya que muchos vamos a ser novatos en el tema</p>
     
      </div>
      
    </div>
    <div class="carousel-item data-bs-interval="1000"">
      <img src="imagenes/Cuántos-Lenguajes-Programación-Existen.png" class="d-block w-100 opacity-50" alt="...">
      <div class="carousel-caption">
       <h5 class="titulo">Bienvenido {{usuario}}</h5>
        <p class="fw-bold text-dark">Aqui trataremos de crear una comunidad para los que comenzamos en el maravilloso mundo de la programacion</p>
        <p class="fw-bold text-dark">Una vez registrado con tu usuario podras ver, ayudar y comentar soluciones a problemas de programacion que van desde muy simples a mas complejos</p>
        <p class="fw-bold text-dark">El unico requisito es que el comentario o explicacion sea lo mas simple, claro, desestructurado, evitando terminologia tecnica, ya que muchos vamos a ser novatos en el tema</p>
     
      </div>
      
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{{>footer}}