<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active data-bs-interval="1000"" >
      <img src="imagenes/full-stack-developer-4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item data-bs-interval="1000"">
      <img src="imagenes/untitlsssssed.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item data-bs-interval="1000"">
      <img src="imagenes/young-programmer-code-client-projects-developer-writing-program-code-flat-vector_530733-1137.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
{{>footer}}