<div class="d-flex justify-content-center mt-5">
<form action="/nuevaContrase" method="post">

  <div class="input-group" >
    <img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control" placeholder="Ingrese Contraseña Actual" aria-label="contraseñaVieja" name="contraseñaModi" autofocus> 
   </div>

   <div class="input-group mb-3">
  <p class="badge input-group text-uppercase text-danger mb-2">{{mensaje}}</p>
    </div>

    <div class="input-group mb-3">
    <img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control" placeholder="Ingrese Nueva Contraseña" aria-label="contraseñaNueva1" name="contrasenueva1" >
    </div>

     <div class="input-group mb-3 ">
    <img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control" placeholder="Confirme Nueva Contraseña " aria-label="contraseñaNueva2" name="contrasenueva2">
    </div>

    
      
     
      </div> 
     
      <div class="d-flex justify-content-evenly">
        <button type="submit" class="btn btn-primary" >Enviar Modificacion </button>
      
        <a href="bienvenida" class="btn btn-danger">Cancelar Cambios</a>   
      </div>
   
      

     
     
      
