<div class="contenedor">
    <img src="imagenes/TwG-Privacy-and-Trust-W-Figure2.gif" class="gif">
<p class="titulo">Acceso no Autorizado</p>
<p class="text">Usted esta tratando de ingresar a una seccion sin credenciales autorizadas o la seccion no existe</p>
<p class="text">Por favor loguese con su Email y Contraseña o complete el formulario de contacto</p>

<a type="button" class="btn btn-primary btn-lg" href="/">Regresar al Inicio</a>
</div>

