<div class="d-flex justify-content-center col-12  bg-success body  bg-opacity-25 border border-info">
<form class="col-9 border mt-5">
  <div class="row">
  <div class="col-6">
<div class="input-group mb-3">
  <img src="imagenes/iconos/nombre.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" id="nombreRegistro" autofocus>
</div></div>
<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/apellido.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="Nombre" id="nombreRegistro">
</div>
  </div>
  </div>


<div class="row">
  <div class="col-9">
    <div class="input-group mb-3">
<img src="imagenes/iconos/calle.png"  width="45" height="45">
<input type="text" class="form-control col-form-label" placeholder="Direccion: Calle" aria-label="calle">
    </div></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <img src="imagenes/iconos/numero.png"  width="45" height="45">
        <input type="text" class="form-control col-form-label" placeholder="Altura" aria-label="altura">
      </div>
    </div></div>

<div class="row">
  <div class="col-5">
    <div class="input-group mb-5">
<img src="imagenes/iconos/location.png"  width="45" height="45">
<input type="text" class="form-control" placeholder="Ciudad" aria-label="Ciudad">
    </div></div>
    <div class="col-5">
      <div class="input-group mb-5">
        <img src="imagenes/iconos/pais.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Estado" aria-label="Estado">
      </div>
    </div>
    <div class="col-2">
      <div class="input-group mb-5">
        <img src="imagenes/iconos/postal.png"  width="45" height="45">
     <input type="text" class="form-control" placeholder="CP" aria-label="Código postal">
      </div>
    </div>
    </div>
    
    
<div class="row d-flex justify-content-center">
  <div class="col-5">
    <div class="input-group mb-3">
<img src="imagenes/iconos/email.png"  width="45" height="45">
<input type="email" class="form-control border border-success" placeholder="e-mail" aria-label="Nombre">
    </div></div>
    <div class="col-5">
      <div class="input-group mb-3">
        <img src="imagenes/iconos/email.png"  width="45" height="45">
<input type="email" class="form-control border border-success" placeholder="Reingrese su e-mail" aria-label="Nombre">
      </div>
    </div></div>

<div class="row d-flex justify-content-center">
  <div class="col-4 ">
    <div class="input-group mb-3">
<img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control border border-info" placeholder="Contraseña" aria-label="Nombre">
    </div></div>
    <div class="col-4">
      <div class="input-group mb-3">
        <img src="imagenes/iconos/contraseña.png"  width="45" height="45">
    <input type="password" class="form-control border border-info" placeholder="re-ingrese su contraseña" aria-label="Nombre">
      </div>
    </div></div>
    <div class="d-flex justify-content-between ">
        <button type="button" class="btn btn-success">Registrarse</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
    </div>
      

</form>
</div>

{{>footer}}